/* Variables */

$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-text: #ffffff;
$color-text-2: #2c2c54;
$font-text: 'Inconsolata',
monospace;
$font-text-2: 'Signika',
sans-serif;

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7px;
    font-family: $font-text;
    color: $color-text-2;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}


/*navigation*/

.navigation {
    padding: 12px 0;
    background-image: url("../images/splash.png");
}

.navigation ul {
    padding: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-text;
}

.navigation a:hover {
    color: $color-two;
}

.navigation li:hover ul {
    display: block;
    text-align: center;
    background-color: $color-text;
}


/*Header*/

.splash {
    background-image: url("../images/splash.png");
    color: $color-text;
    height: 530px;
    display: flex;
}

.splash-inner {
    margin: auto;
    /*wysrodkowuje w pionie i poziomie jesli rodzic jest flex */
    max-width: 70%;
    text-align: center;
}

.page-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}

.page-subtitle {
    font-style: italic;
    margin: 24px 0;
    font-weight: 400;
    font-size: 30px;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 3px;
    font-family: $font-text;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    background-color: orange;
    background-position: 100% 0;
    background-size: 300%;
    border-color: $color-text;
    color: $color-text;
}

.btn:hover {
    background-position: 0 100%;
    color: $color-text;
}


/* our services */

.services {
    padding-top: 96px;
}

.services-header p:first-of-type {
    font-style: italic;
}

.services-header {
    text-align: center;
}

.services-123 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    line-height: 1.5;
    position: relative;
    text-align: center;
}

.sub-page-title {
    font-size: 40px;
}

.box p:first-of-type {
    font-size: small;
    color: rgb(185, 185, 185);
}


/*portfolio*/

.portfolio {
    margin-top: 50px;
    background-color: #f7f7f7;
}

.portfolio-header {
    margin-top: 70px;
    text-align: center;
}

.portfolio p {
    font-style: italic;
}

.porfolio-box {
    text-align: center;
    margin: 20px 0 20px 0;
}

.porfolio-box h1 {
    font-size: 20px;
}

.bottom-box {
    background-color: #ffffff;
}


/* FOOTER */

footer {
    margin: 30px 0 30px 0;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer li {
    display: inline-block;
    font-size: 0;
}

footer a {
    text-decoration: none;
    text-align: center;
}


/* zrobic dla chetnych */

footer .fab {
    font-size: 15px;
    background: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius: 50%;
}


/* Media */

@media (max-width: 767px) {
    .navigation li {
        margin: 0;
    }
    .page-subtitle,
    .sub-page-title {
        line-height: 100%;
    }
    .page-title {
        font-size: 60px;
        word-spacing: 3px;
    }
    footer span {
        line-height: 100%;
    }
}