/* Variables */

$color-one: #0097e6;
$color-two: #33d9b2;
$color-three: #ff5252;
$color-text: #ffffff;
$color-text-2: #2c2c54;
$font-text: 'Inconsolata',
monospace;
$font-text-2: 'Signika',
sans-serif;

/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7px;
    font-family: $font-text;
    color: $color-text-2;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}


/*navigation*/

.navigation {
    padding: 12px 0;
    background-image: url("../images/splash.png");
}

.navigation ul {
    padding: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: $color-text;
}

.navigation a:hover {
    color: $color-two;
}

.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
    padding: 10px 0;
}

.navigation ul li ul {
    display: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 20%);
    padding-top: 12px;
}

.navigation li:hover ul {
    display: block;
    text-align: center;
    background-color: $color-text;
}

.navigation ul li ul a {
    color: $color-one;
    display: block;
    padding: 0 24px;
}

.navigation ul li ul a:hover {
    color: $color-two;
}


/*Header*/

.splash {
    background-image: url("../images/splash.png");
    color: $color-text;
    height: 500px;
    display: flex;
}

.splash-inner {
    margin: auto;
    /*wysrodkowuje w pionie i poziomie jesli rodzic jest flex */
    max-width: 70%;
}

.page-title {
    margin: 0;
    font-size: 72px;
    word-spacing: -24px;
    font-weight: 700;
    line-height: 1.2;
}

.page-subtitle {
    margin: 24px 0;
    font-weight: 400;
    font-size: 16px;
}

.page-title span {
    font-family: $font-text-2;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    border-color: $color-text;
    color: $color-text;
}

.btn:hover {
    background-position: 0 100%;
    color: $color-text;
}


/* our services */

.services {
    padding-top: 96px;
}

.services-header {
    text-align: center;
}

.services-123 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    flex: 0 0 33.333%;
    line-height: 1.5;
    position: relative;
    text-align: center;
}

.box p:first-of-type {
    font-weight: 800;
}

.sub-page-title {
    font-size: 48px;
}

.box-title {
    font-size: 24px;
    margin: 0 0 12px 0;
}


/*portfolio*/

.portfolio {
    margin-top: 50px;
    background-color: #f7f7f7;
}

.portfolio-header {
    text-align: center;
}

.porfolio-box {
    text-align: center;
    margin: 20px 0 20px 0;
}


/* FOOTER */

footer {
    margin: 30px 0 30px 0;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer li {
    display: inline-block;
    font-size: 0;
}

footer a {
    text-decoration: none;
    text-align: center;
}


/* zrobic dla chetnych */

footer .fab {
    font-size: 15px;
    background: black;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: white;
    border-radius: 50%;
}


/* dlaczego nie moge wycentrowac ikon w pionie, co zle robie*/


/* Media */

@media (max-width: 767px) {
    .services-123 {
        flex-direction: column;
    }
    .work-wrapper {
        flex-direction: column;
    }
    .form-wrapper {
        flex-direction: column;
    }
    .work-pic img {
        width: 100%;
        /*obrazek nie rozciaga sie na cala szerokosc ekranu tel.*/
        height: 150px;
    }
    .work-box {
        flex-direction: column;
    }
    .navigation li {
        margin: 0;
    }
    .page-subtitle,
    .sub-page-title {
        line-height: 100%;
    }
    .page-title {
        font-size: 50px;
    }
}